body,html{
	margin:0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 0.95em;
	text-align: center;
}

#chart{
	background-color: #f5f2eb;
	border: 1px solid #CCC;
}

.bar{
	shape-rendering: crispEdges;	
}

.bar-label{
	font-size: 24px;
	text-anchor: end;
	fill:white;

}